
<div class="row animated bounceIn" style="margin-top: 1em;">
    <div id="form" class="col" style="overflow-y: auto;" >
        <app-addenda-form ></app-addenda-form>
    </div>
    <div  class="col" >
        <div class="row">
                <div class="col"><button (click)="volver()" class="btn btn-danger btn-block" >Volver</button></div>
                <div class="col"><button class="btn btn-primary btn-block" (click)="continuar()">Continuar</button></div>
        </div>
        <div class="row">
            <pre  id="vis" style="margin-top: 1em; height: 75vh; max-width: 45vw; background: #E5E5E5;scrollbar-width: thin; overflow-y: thin; ">   
            </pre>
        </div>
    </div>

</div>
