<div class="row" style="height: 20vh">
        <div class="col"><button (click)="volver()" class="btn btn-danger btn-block">Volver</button></div>
</div>
<div class="row">
    <div class="col">
    </div>
    <div class="col-xs-6 col-sm-7  col-md-6 col-lg-6" style="height: 50vh">
        <div (click)="guardar()" class="card text-white bg-secondary mb-3 animated bounceIn" style="height:100%; border-radius: 20%;">
            <div class="card-body ">
                <div class="card-title text-center">
                    Guardar
                </div>
                <div class="text-center">
                    <img src="assets/xml.png"  style="margin-top: 4vh" alt="archivo xml">
                </div>
                <div class="card-title text-center">
                    {{nombre}}
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>