
<div class="row" style="height: 30vh"></div>
<div class="row">
    <div class="col"></div>
    <div class="col-sm-12  col-md-7 col-lg-6">
            <div class="card  animated bounceIn fast ">
                <div class="card-body">
                    <h5 class="card-title">Fin del proceso!</h5>
                    <p class="card-text">El proceso ha concluido.</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-danger" type="button" (click)="volver()">volver</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-warning" type="button" (click)="reiniciar()">Volver a Empezar</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col"></div>
</div>