
<div class="row" style="height: 30vh"></div>
<div class="row">
    <div class="col"></div>
    <div class="col-sm-12  col-md-7 col-lg-6">
            <div class="card bg-danger text-white animated shake fast ">
                <div class="card-body">
                    <h5 class="card-title">Error {{codigo}}</h5>
                    <p class="card-text">{{descripcion}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="button" (click)="regresar()">Regresar</button>
                </div>
            </div>
    </div>
    <div class="col"></div>
</div>