<div class="progress rounded-pill" style="position: relative;height: 30px; width:80%;">
    <div class="progress-bar" role="progressbar" style="width: 25%; height: 100%; position: absolute" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="row rounded-pill" style="left:1.7%; position: absolute; height: 100%; width: 100%;z-index: 1000;">
        <div class="col border border-secundary">
            <div class="text-center  text-white">
                Primer paso
            </div>
        </div>
        <div class="col border border-secundary"></div>
        <div class="col border border-secundary"></div>
        <div class="col border border-secundary"></div>
        <div class="col border border-secundary"></div>
        <div class="col border border-secundary"></div>
        <div class="col border border-secundary"></div>
    </div>
</div>
