
        <div class="row" style="height: 20vh"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-xs-6 col-sm-7  col-md-6 col-lg-6" style="height: 50vh">
                <div    (click)="fileInput.click()" DragAndDrop (archivoDroped)="analizarRedireccionar($event)" class="card text-white bg-secondary mb-3 animated bounceIn" style="height:100%; border-radius: 20%;">
                    <input hidden type="file" #fileInput (change)="analizarRedireccionar ($event.target.files)">
                    <div class="card-body ">
                        <div class="text-center">
                            <h4 class="card-title">Arrastra aqui tu factura </h4>
                        </div>
                        <div class="text-center">
                            <img src="assets/xml.png"  style="margin-top: 2vh" alt="archivo xml">
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col"></div>
        </div>

    