nav{
    background: #949494;

}
.navbar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }
  
  button {
    -webkit-app-region: no-drag;
  }
*{
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}