<nav class="navbar navbar-dark sticky-top">
    <a class="navbar-brand" href="#">
        <img src="assets/icon.png" width="25" height="25" class="d-inline-block align-top" alt="">
        ADDEndum
    </a>
    <div class="form-inline ">
      <button class="btn" (click)="cerrarApp()" ><img src="assets/exit.png" width="25" height="25"  alt="salir"></button>
    </div>

</nav>