<div class="form-group" *ngFor="let campo of campos" >
    <label for="{{campo.datos.nombre}}">{{campo.datos.nombre}}</label>
    <input type="{{campo.datos.tipo}}" value="{{campo.valor}}" class="form-control {{campo.datos.xmlns}}" id="{{campo.datos.nombre}}">
</div>
<div id="scripts">

</div>
