<!--The content below is only a placeholder and can be replaced.-->
<app-navbar ></app-navbar>

<!--<factura-estatus></factura-estatus>
<factura-drag-drop></factura-drag-drop>-->
<div class="container">
    <router-outlet></router-outlet>
</div>