button{
    border-radius: .9em;
}
.card{
    background: #E5E5E5;
}
.card-header
{
    background: #949494;
}
*{
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}