
        <div class="row" style="height: 30vh"></div>
        <div class="row">
            <div class="col"></div>
            <div class=" col-sm-12  col-md-7 col-lg-6" style="height: 50vh">
                <div class="card text-white bg-ligth  mb-3 animated  bounceIn" style=" width: 100% ; border-radius: 2.5em;">
                    <div class="card-header " style=" border-radius: 2.5em;">
                        <div class="row">
                            <div class="col-4 ">
                                <img src="assets/xml.png"  style="width: 80px;height: 80px;" alt="archivo xml">
                            </div>
                            <div class="col-7">
                                <div class="row">
                                    <div class="text-center">
                                        <h2 >{{nombre}}</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="badge badge-pill badge-success" >{{estatus}}</span> 
                                    <span class="badge badge-pill badge-warning" >{{formato}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                                <div class="col"><button (click)="volver()" class="btn btn-danger btn-block" >Volver</button></div>
                                <div class="col"><button class="btn btn-primary btn-block" (click)="editar()" *ngIf="habilitado">{{accion}}</button></div>
                        </div>   
                    </div>
                  </div>
            </div>
            <div class="col"></div>
        </div>